/* Reset básico */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    text-align: justify;
    font-family: "Kaisei Opti", serif;
}

/* Definindo algumas cores principais */
.cor-primaria{
    background-color: #222;
}
.cor-segundaria{
    background-color: #1b1a18;
}

/* Estilizando o Header */
.header{
    position: sticky;
    top: 0;
}

header{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5rem;
}

header nav ul{
    display: flex;
    gap: 96px;
}
header nav ul li a{
    color: #D9CBA3;
    font-size: 24px;
    transition: 1s ease-in-out;
}
header nav ul li a:hover{
    font-size: 26px;
    color: #FFF;
}

/* Estilização do Banner */
.banner{
    height: 88.9vh;
    background-image: url("../assets/imgs/background-dark-souls.png");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.banner figure{
    margin-top: -5rem;
}


.banner figure,
.banner figure img{
    width: 978px;
    height: 169px;
    margin-bottom: 20px;
}

.banner p{
    font-size: 24px;
    color: #FFF;
    text-shadow: 
        1px  1px 0 #000,
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px  1px 0 #000;
    width: 600px;
    text-align: center;
}

/* Estilizando a sessão de explicação */
.sessao-explicativa{
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sessao-explicativa .texto{
    width: 600px;
}

.sessao-explicativa h1{
    color: #D9CBA3;
    border-bottom: 5px solid #D9CBA3;
    width: fit-content;
    margin-bottom: 1rem;
    text-align: center;
}

.sessao-explicativa p,
.sessao-explicativa ul li{
    width: 600px;
    text-indent: 30px;
    line-height: 1.5rem;
    color: #FFF;
}
.sessao-explicativa ul li{
    text-indent: 60px;
}

.sessao-explicativa .button{
    width: 100%;
    display: flex;
    justify-content: center;
}

.sessao-explicativa button{
    width: 200px;
    height: 50px;
    background-color: #F2EDD5;
    text-align: center;
    border-radius: 20px;
    font-size: 20px;
    margin-top: 5rem;
    cursor: pointer;
    transition: 1s ease-in-out;
}
.sessao-explicativa button a{
    color: #000;
}

.sessao-explicativa button:hover{
    width: 250px;
    height: 70px;
}

.sessao-explicativa figure,
.sessao-explicativa figure img{
    height: 366px;
}

/* Estilizando a sessão de explicação quando o texto está na esquerda */

.texto-esquerda .texto{
    order: 2;
}

/* Estilizando o footer */
footer{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
}

footer h2 a {
    color: #FFF;
}

/* Estilizando o sobre.html */
.plano-de-fundo{
    height: 100%;
    background-image: url('../assets/imgs/undead-bonfire.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.plano-de-fundo main{
    margin: auto;
    padding: 2rem 0;
    width: 80%;
}

/* Estilizando o login */

.section-login{
    height: 88.9vh;
    background-image: url('../assets/imgs/undead-persistindo.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

    display: flex;
    padding-left: 7rem;
    align-items: center;
}

.formulario{
    width: 500px;
    height: 600px;
    background-color: #222;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.formulario h1{
    color: #D9CBA3;
    border-bottom: 5px solid #D9CBA3;
    width: fit-content;
    margin-bottom: 1rem;
    text-align: center;
    margin: 2rem 0;
}

.formulario input{
    width: 400px;
    height: 50px;
    border-radius: 20px;
    background-color: #D9CBA31A;
    color: #FFF;
    padding-left: 2rem;
    border: 3px solid #D9CBA3;
    margin: 2rem 0;
}

.formulario button{
    width: 300px;
    height: 50px;
    background-color: #F2EDD5;
    text-align: center;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
    transition: 1s ease-in-out;
    margin-bottom: 1rem;
}
.formulario button:hover{
    width: 360px;
    height: 60px;
}

.formulario p,
.formulario a{
    color: #FFF;
    transition: 1s ease-in-out;
}

.formulario a:hover{
    font-size: 20px;
}

/* Estilizando o cadastro */

.section-cadastro{
    height: 88.9vh;
    background-image: url('../assets/imgs/solaire-admirando-sol.png');

    display: flex;
    padding-left: 7rem;
    align-items: center;
}

.section-cadastro .formulario input{
    margin: 1rem 0;
}